.chatcontrol{
  float: left;
  width: 100%;

  .chatinput{
    width: 80%;
    float: left;
    border-radius: 0;
  }

  .sendbtn{
    background-color: #3E6E85;
    color: white;
    width: 20%;
    float: left;
    border-radius: 0;
    text-transform: uppercase;
  }
}
